/* HERO IMAGE */

.hero-image {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.hero-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.hero-title h1 {
    margin: 0;
    color: white;
    font-size: 5rem;
    letter-spacing: 0.1em;
    text-align: center;
}

/* CALENDAR */
.calendar {
    display: block;
    width: 100%;
    height: 650px;
    border: 0;
}

